/* BookDetail.css */
.book-detail {
  background-color: #f7e6e8; /* Light pink background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.book-detail-header {
  text-align: center;
  margin-bottom: 20px;
}

.book-detail-title {
  font-size: 24px;
  color: #ff6b81; /* Pink title */
}

.close-button {
  background-color: #ffd700; /* Yellow button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.close-button:hover {
  background-color: #ffeb3b; /* Brighter yellow on hover */
}

.book-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* White background to resemble pages */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.book-detail-image img {
  max-width: 100%;
  border: 5px solid #ff6b81; /* Pink border around the book image */
  border-radius: 10px;
  margin-bottom: 20px;
  animation: bounce 1s infinite alternate; /* Bouncing animation */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.book-detail-info {
  text-align: center;
}

.book-detail-category {
  font-size: 16px;
  color: #00aaff; /* Blue category text */
  font-weight: bold;
}

.book-detail-description {
  font-size: 16px;
  color: #006400; /* Dark green description text */
}

.book-detail-content p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 10px;
  background-color: #ffffcc; /* Light yellow background for readability */
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  animation: zoomIn 1s; /* Zoom-in animation */
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.read-button {
  background-color: #ff6b81; /* Pink Read button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  transition: background-color 0.3s;
}

.read-button:hover {
  background-color: #ff4757; /* Darker pink on hover */
  transform: scale(1.1);
}